<div ng-class="{'heading':true}">Educational Details</div>
<br>
<div ng-class="{'sections':true}">
    Highest Degree: <input type="text" ng-model="eduDet.degree" required><br><br>
    Stream/Branch : <input type="text" ng-model="eduDet.stream" required><br><br>
    University/College: <input type="text" ng-model="eduDet.college"><br><br>
    Year of commencement: <input type="month" ng-model="eduDet.startYear" required><br><br> 
    Year of completion: <input type="month" ng-model="eduDet.endYear" required><br><br>
</div>